.main-container {
  max-width: 1160px;
  margin: 0 auto;
}
.main-section {
  background-image: url('../image/Layer.jpg');
  background-attachment: fixed;
  background-size: cover;
}
.menu-item {
  display: inline-block;
  justify-content: space-between;
  padding-right: 21px;
}
.logo-img {
  display: inline-block;
  margin-left: 305px;
}
.logo-img-search {
  display: inline-block;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 380px;
}
.main-nav {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: rgba(94, 93, 88, 0.6);
}
.menu-link {
  height: 120px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.menu-link:hover {
  color: #18cfab;
}
.logo {
  text-decoration: none;
}
.intro-list-header {
  margin-bottom: 22px;
}
.slogan-span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 1px;
  color: #18cfab;
  text-transform: uppercase;
  text-decoration: none;
}

.intro-header {
  text-align: center;
}
.slogan-first {
  display: inline-block;
  margin-top: 200px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.slogan-second {
  font-weight: 700;
  font-size: 70px;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
.slogan-third {
  font-family: 'Montserrat';
  font-size: 35px;
  color: #ffffff;
  text-decoration: none;
}
.intro-list-item {
  display: inline-block;
  border: 1px solid #18cfab;
  box-shadow: 0px -5px #ffffff;
  border-radius: 5px;
  background: #18cfab;
  padding: 16px 17px;
  margin-top: 134px;
  margin-right: 26px;
}
.intro-list-item-article {
  display: inline-block;
  border: 1px solid #18cfab;
  box-shadow: 0px -5px #ffffff;
  border-radius: 5px;
  background: #00cbf6;
  padding: 16px 17px;
  margin-top: 134px;
  margin-bottom: 243px;
}
.intro-list-item-link {
  font-weight: 700;
  font-size: 15px;
  line-height: 32px;
  color: #ffffff;
  text-decoration: none;
}
.carousel {
  display: grid;
  width: 100%;
  margin: 0px;
  padding: 0px;
  grid-gap: 1px;
  grid-auto-rows: 1fr;
  list-style-type: none;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 1px;
}
.title-block {
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  text-align: center;
  color: #4e4e4e;
  margin-top: 83px;
  margin-bottom: 24px;
}

.line {
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: #18cfab;
  width: 75.54px;
  height: 1px;
  padding-left: 10px;
}
.line-second {
  margin-left: auto;
  margin-right: auto;
  border: none;
  background-color: #18cfab;
  width: 75.54px;
  height: 1px;
  margin-bottom: 69px;
}
#tabs .tab {
  margin-left: -4px;
  font-size: 16px;
  height: 76px;
  width: 193px;
  display: inline-block;
  padding: 18px 34px 18px 34px;
  position: relative;
  z-index: 5;
  background-color: #f8fcfe;
  color: #717171;
  border: 1px solid #edefef;
}
#tabs .activeborder {
  background: #18cfab;
  color: #f8fcfe;
  cursor: default;
}
#tabs .tabContent {
  margin-top: 28px;
  border: 1px solid #f8fcfe;
  position: relative;
  top: -1px;
  z-index: 1;
  margin-bottom: 120px;
}
#tabs .hide {
  display: none;
}
#tabs .show {
  display: block;
}
.img {
  float: left;
  margin: 0px 7px 0px 0px;
}
#tabs .tab:hover {
  border: 1px solid #18cfab;
}
.slogan-section {
  margin-top: 91px;
  background-image: url('../image/Layer\ 21\ 1.png');
  background-attachment: fixed;
  background-size: cover;
}
.slogan-main-section {
  display: inline-block;
  padding-top: 127px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 35px;
  line-height: 1px;
  text-transform: uppercase;
  text-decoration: none;
  color: #18cfab;
}
.slogan-main-section-item {
  justify-content: center;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 40px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #d8d8d8;
  text-decoration: none;
}
.intro-list-item-article-main {
  display: inline-block;
  box-shadow: 0px -5px #ffffff;
  border-radius: 5px;
  background: #18cfab;
  padding: 16px 17px;
  margin-top: 67px;
  margin-bottom: 127px;
}

.works-menu {
  display: flex;
  justify-content: center;
  margin-bottom: 71px;
  margin-top: 69px;
}
.works-menu-item {
  padding: 12px 28px 9px 28px;
  height: 58px;
  border: 1px solid #dadada;
  font-size: 14px;
  cursor: pointer;
  background-color: #e9edef;
}
.works-menu-item:hover {
  border: 1px solid #18cfab;
}
.works-gallery {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.works-gallery-item {
  position: relative;
  overflow: hidden;
}
.works-gallery-item:hover > .works-gallery-hover {
  top: 0;
}
.works-gallery-hover {
  box-sizing: border-box;
  background-color: #e9edef;
  border-top: 6px solid #18cfab;
  text-align: center;
  padding: 51px 13px 0;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -300px;
  left: 0;
  transition: 0.5s;
}
.works-gallery-hover-title {
  font-size: 14px;
  line-height: 22px;
  color: #18cfab;
  text-transform: uppercase;
}
.works-gallery-hover-text {
  font-size: 14px;
  line-height: 17px;
  color: #5b5b5b;
  margin-bottom: 24px;
}

.tab-hidden {
  display: none;
}

.news {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 35px;
}

.btn {
  margin: 0 auto;
  display: block;
  box-shadow: 0px -5px #ffffff;
  border-radius: 5px;
  background: #18cfab;
  padding: 16px 17px;
  margin-top: 67px;
  width: 168px;
  align-items: center;
  /* margin-bottom: 127px; */
}
.btn-item {
  justify-content: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 700;
}
.news-item {
  position: relative;
}

.image-news {
  position: relative;
}
.data {
  position: absolute;
  position: absolute;
  top: 0px;
  left: 196px;
  z-index: 2;
}
.text-news {
  align-self: center;
}
.amaz {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 13px;
}
.adm {
  margin: 0 auto;
  display: block;
}
.amazz {
  text-decoration: none;
  font-weight: 700;
  font-size: 17.9885px;
  color: #717171;
}
.amazz:hover {
  color: #18cfab;
}
.img.data:hover {
  background: #18cfab;
}
